@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");

body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/003/031/764/original/blue-wide-background-with-linear-blurred-gradient-free-vector.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 75vh;
  background: rgba(0, 40, 97, 0.5);
  margin: 0px 495px;
  padding: 5px 0px;
  border-radius: 10px;
  overflow: hidden;
}

.box form {
  font-family: "Comfortaa", cursive;
  padding: 50px;
  background: rgb(0, 40, 97);
  border-radius: 10px;
  width: 250px;
  z-index: 5;
}

.box h2 {
  color: aliceblue;
  text-align: center;
  font-weight: 800;
  font-size: 35px;
  margin-top: 0;
}

.inputBox {
  margin-bottom: 20px;
  padding: 10px 0px;
}

.inputBox input {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-bottom: 20px;
  background: transparent;
  border: none;
  outline: none;
  color: aliceblue;
  font-size: 1em;
  letter-spacing: 0.1em;
  transition: 0.5s;
  z-index: 5;
}

.box form .inputBox span {
  position: relative;
  bottom: 20px;
  color: #8f8f8f;
  font-size: 1em;
  letter-spacing: 0.1em;
  transition: 0.5s;
  pointer-events: none;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: aliceblue;
  font-size: 0.55em;
  transform: translateY(-10px);
  padding-left: 5px;
}

.inputBox i {
  position: absolute;
  left: 50px;
  width: 70%;
  height: 2px;
  background: #2b2222;
  border-radius: 4px;
  overflow: hidden;
  transform: translateY(100%);
  transition: 0.5s;
  pointer-events: none;
  z-index: -1;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i {
  transform: translateY(-80%);
  height: 60px;
}

.links {
  width: auto;
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.links a {
  font-size: 0.75em;
  text-decoration: none;
  color: #c7db0e;
  font-weight: bolder;
}

.links a:hover {
  color: white;
}

.button_type {
  margin-top: 25px;
  margin-left: 75px;
  font-size: 25px;
  font-weight: 800px;
  background-color: #ff4d00;
  box-shadow: 0px 3px 6px rgb(0, 14, 53);
  padding: 0px 25px;
}

.box::before {
  content: "";
  position: absolute;
  top: -40%;
  left: -50%;
  width: 350px;
  height: 375px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff
  );
  z-index: 2;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  pointer-events: none;
}

.box::after {
  content: "";
  position: absolute;
  top: -40%;
  left: -50%;
  width: 350px;
  height: 375px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff
  );
  z-index: 2;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
  pointer-events: none;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
